body {
  background-color: rgb(248, 248, 248);
}

textarea {
  display: inline;
  background-color: white;
  overflow: auto;
  width: 100%;
  margin-bottom: 20px;
  background-color: #ececec;
  border-radius: 5px;
}

.form-control{
  height: 60px;
  width: 250px;
}
.content-wrapper {
  background-color: white;
  border: 3px solid whitesmoke;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  margin-top: 8%;
  margin-bottom: 5%;
  box-shadow: 2px 2px whitesmoke;
}

.card {
  height: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  width: auto;
  background-color: #435560 !important;
}

.card-header h3 {
  color: white;
  font-family: Helvetica;
  font-size: medium;
  font-weight: bold;
}

.input-group-prepend span {
  /* width: 50px; */
  background-color: #BDC7C9;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.row{
  margin-top: 10px;
}


.btn-enter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: khaki;
  color: black;
  border-radius: 8px;
  width: 20%;
  padding: 5px 5px;
  border: none;
  transition: 0.3s;
}

.btn-enter:hover {
  background-color: black;
  color: white;
}
